
<form>
    <label>Municipio:</label><input type="text" name="idMuni" [(ngModel)]="idMunicipio" /><br/>
    <label>Provincia:</label><input type="text" name="codPostal" [(ngModel)]="idProvincia" /><br/>
    <input type="submit" value="Buscar" (click)="buscarMunicipio()">
</form>
<p>
   Cod_Municipio: {{ idMunicipio }}
</p>

<p>
    La provincia <b>{{ provincia.nombre }}</b> con capital <b>{{ provincia.capital }}</b> tiene hoy <b>{{ tiempo.hoy }}</b>
</p>
<br>
<p>Municipio: <b>{{ municipio.nombre }}</b></p>
<p>
    Con una maxima de <b>{{ tiempoM.maxima }}</b> grados y una minima de <b>{{ tiempoM.minima }}</b> grados
</p>